.container-login {
    background-color: #212529;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    max-width: 400px;
    margin: 0 auto; 
  }
  
  .form-signin {
    text-align: center;
  }
  
  .form-signin img {
    width: 150px; 
    margin-bottom: 20px; 
  }
  
  .form-floating {
    margin-bottom: 20px;
  }
  
  .form-check {
    margin-bottom: 20px;
    
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;

  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }

  .black-theme {
    background-color: #2b2f33;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-color: #212529;
  }

    .black-theme:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 50px #2b2f33 inset !important;
        -webkit-text-fill-color: rgb(214, 214, 214);
    }
    
    .form-control {
    color: rgb(214, 214, 214);
  }
  