.header-container {
    width: 100%;
    background-color: #212529;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.nav-link {
    color: #6ea8fe;
}

.nav-link:hover {
    color: #c7ddffd6;
}

.username {
    font-weight: bold;
    font-size: larger;
}