
<header class="header-container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4">
  <div class="col-md-3 mb-2 mb-md-0">
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
    </a>
  </div>
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0 nav-pills">
    <li><a href="#" class="nav-item" class="nav-link" [routerLink]="['/home']" routerLinkActive="active">Home</a></li>
    <li><a href="#" class="nav-item" class="nav-link" [routerLink]="['/hotels']" routerLinkActive="active">Hotels</a></li>
    <li>
      <a *ngIf="authService.isLogged(); else loginLink"
       href="#" class="nav-item" class="nav-link" [routerLink]="['/orders']" routerLinkActive="active">Orders</a>
      <ng-template #loginLink>
        <a href="#" class="nav-item" class="nav-link" [routerLink]="['/login']">Orders</a>
      </ng-template>
    </li>
  </ul>

  <div class="col-md-3 text-end">
    <a *ngIf="!authService.isLogged()" [routerLink]="['/login']" routerLinkActive="active" class="btn btn-outline-primary me-4">Login</a>
    <div *ngIf="authService.isLogged()" [routerLink]="['/login']" class="me-4">
      <!-- <span class="me-3 nav-item username">{{ authService.getUser()?.username }}</span> -->
      <a class="btn btn-outline-primary" (click)="authService.logout()">Logout</a>
    </div>   
  </div>
</header>