<!--добавить карусель-->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center team-name mt-4 mb-4">Cool cucumbers</h1>
            <p class="text-center project-description mb-4">
                Our project is hotel booking. This is a web application created for convenient and reliable hotel reservations. Users can view available hotels, register, log in, leave reviews, book hotels and view their bookings.
            </p>
            <div class="text-center">
                <button type="button" class="btn btn-primary" onclick="window.open('https://github.com/arturkultyshev/web_hotel', '_blank')">Read More</button>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-3 mb-4">
            <img src="assets/member1.jpg" alt="Участник 1" class="img-fluid member-photo">
            <h3 class="text-center mt-2">Kultyshev Artur</h3>
        </div>
        <div class="col-md-3 mb-4">
            <img src="assets/member1.jpg" alt="Участник 2" class="img-fluid member-photo">
            <h3 class="text-center mt-2">Yerzhanuly Adil</h3>
        </div>
        <div class="col-md-3 mb-4">
            <img src="assets/member1.jpg" alt="Участник 3" class="img-fluid member-photo">
            <h3 class="text-center mt-2">Yelkin Sergey</h3>
        </div>
        <div class="col-md-3 mb-4">
            <img src="assets/member1.jpg" alt="Участник 4" class="img-fluid member-photo">
            <h3 class="text-center mt-2">Bakhytzhanov Timur</h3>
        </div>
    </div>
</div>
