<div class="container">
    <h1>Edit Hotel</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <input type="text" class="form-control" id="name" [(ngModel)]="hotel.name" name="name" required>
      </div>
      <div class="mb-3">
        <label for="country" class="form-label">Country</label>
        <input type="text" class="form-control" id="country" [(ngModel)]="hotel.country" name="country" required>
      </div>
      <div class="mb-3">
        <label for="city" class="form-label">City</label>
        <input type="text" class="form-control" id="city" [(ngModel)]="hotel.city" name="city" required>
      </div>
      <div class="mb-3">
        <label for="street" class="form-label">Street</label>
        <input type="text" class="form-control" id="street" [(ngModel)]="hotel.street" name="street" required>
      </div>
      <div class="mb-3">
        <label for="capacity" class="form-label">Capacity</label>
        <input type="number" class="form-control" id="capacity" [(ngModel)]="hotel.capacity" name="capacity" required>
      </div>
      <div class="mb-3">
        <label for="cost" class="form-label">Cost</label>
        <input type="number" class="form-control" id="cost" [(ngModel)]="hotel.cost" name="cost" required>
      </div>
      <div class="mb-3">
        <label for="photo_url" class="form-label">Photo URL</label>
        <input type="text" class="form-control" id="photo_url" [(ngModel)]="hotel.photo_url" name="photo_url" required>
      </div>
      <div class="mb-3">
        <label for="additional_info" class="form-label">Additional info</label>
        <input type="text" class="form-control" id="addition_info" [(ngModel)]="hotel.addition_info" name="additional_info" required>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
  